@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(135deg, #000000, #3b0a0a);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  z-index: 10;
  transition: opacity 1s;
}

.hidden { display: none; }

#phrase-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

#bloco-notas1 {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 180px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #900;
  border-radius: 8px;
  z-index: 1000;
}

#bloco-notas-dia2 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 200px;
  max-height: 40vh;
  overflow-y: auto;
  background-color: rgba(30, 0, 0, 0.85);
  color: #ffcccc;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #c22;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  z-index: 1000;
}



.letter-box {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  background: rgba(255,255,255,0.1);
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  color: #f0f0f0;
  transition: 0.3s;
}

.letter-box:focus {
  outline: none;
  background: rgba(255,255,255,0.2);
}

button {
  background: linear-gradient(45deg, #8b0000, #ff0000);
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 15px 10px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background: black;
}

#notes {
  position: fixed;
  top: 10%;
  right: 10%;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  max-width: 300px;
}

#timer {
  margin-top: 20px;
  font-size: 1.5em;
}

#attempts {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ff8c8c;
}
